header{
    width: 100%;
    background-color: #A7C7E7;
    height: 100px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
header li{
    list-style: none;
    color: white;
    font-size: 20px;
    
}

header li a{
    text-decoration: none;
    color: white;
}